@import 'tailwindcss';

:root {
  /* Black ~ White */
  --black: #111111;
  --gray-dark: #707072;
  --gray-medium: #9e9ea0;
  --gray-light: #cacacb;
  --gray-lighter: #e5e5e5;
  --gray-lightest: #f5f5f5;
  --white: #ffffff;

  /* Red / Green */
  --red: #9e3500;
  --green: #007d48;

  /* Black 35% 투명도 */
  --black-35: rgba(17, 17, 17, 0.35);
}

@theme {
  /* Color 변수 정의 */
  --color-nike-black: var(--black);
  --color-nike-gray-dark: var(--gray-dark);
  --color-nike-gray-medium: var(--gray-medium);
  --color-nike-gray-light: var(--gray-light);
  --color-nike-gray-lighter: var(--gray-lighter);
  --color-nike-gray-lightest: var(--gray-lightest);
  --color-nike-white: var(--white);
  --color-nike-red: var(--red);
  --color-nike-green: var(--green);
  --color-nike-black-35: var(--black-35);

  /* 웹 폰트(Pretendard) 사용자 정의 */
  --font-Noto: 'Noto Sans KR', sans-serif;

  /* 브레이크포인트 */
  --breakpoint-nikeDesktop: 48rem;
}


/* 웹 폰트 */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

* {
    font-family: 'Noto Sans KR', sans-serif;
}